body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding:0px!important;
}
.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{
    float: left;
    padding: 16px;
    width: 70%;
}
.redes-sociais ul li{
    margin-left: 15px;
    display:inline-block;
    float: left;
}
.redes-sociais{
    width: 25%;
    float: left;
    padding: 0px;
}
.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
}
.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Roboto;
}
.menu{
    width: 60%;
    float: left;
}
.busca{
    text-align: center;
    width: 30%;
    float: left;
}
.busca input{
    background-image: url('./img/lupa.png');
    background-repeat: no-repeat;
    background-position: 96%;
    padding-left: 12px;
    width: 190px;
    height: 36px;
    margin-top: -17px;
    border: 1px solid #d6d6d6;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
.menu-url{
    border-bottom: 3px solid #efefef;
    height: 80px;
}